<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wordwallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_word_wallet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_word_wallet_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".OneWordActivity"
            android:exported="true"/>
        <activity
            android:name=".ShortActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".WordListSelect"
            android:exported="true">
        </activity>
        <activity
            android:name=".Quiz1_retry"
            android:exported="true">
        </activity>
        <activity
            android:name=".QuizResult"
            android:exported="true">
        </activity>
        <activity
            android:name=".Quiz2"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>/>
        </activity>
        <activity
            android:name=".Quiz1"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AddWordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WWmainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>